<h2>Welcome to TestApp</h2>

<div class="d-flex justify-content-center mt-4">
    <a class="btn btn-primary btn-lg m-2" href="/User/Login">Login</a>
    <a class="btn btn-secondary btn-lg m-2" href="/User/Register">Register</a>
</div>
